
<div class="panel panel-default">
    <div class="panel-heading" id="header"></div>
    <div class="panel-body">
        <div>
            <hr />
            <dl class="dl-horizontal" style="margin:auto">
                <dt>Name</dt>
                <dd id="productName"></dd>
                <dt>Year</dt>
                <dd id="productModel"></dd>
                <dt>Price</dt>
                <dd id="productPrice"></dd>
                <dt>Brand</dt>
                <dd id="productBrand"></dd>
                <dt>Category</dt>
                <dd id="productCategory"></dd>
            </dl>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Store</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
</div>